{% extends "admin_base.html" %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-header bg-dark text-white">
    <h5 class="mb-0">Tambah Warna untuk {{ produk.nama_produk }}</h5>
  </div>
  <div class="card-body">
    <form method="POST">
      <div class="row mb-3">
        <div class="col-md-6">
          <label>Nama Warna</label>
          <input type="text" name="warna" class="form-control" placeholder="misal: Biru Langit" required>
        </div>
        <div class="col-md-6">
          <label>Stok Warna Ini</label>
          <input type="number" name="stok" class="form-control" required>
        </div>
      </div>
      <button type="submit" class="btn btn-dark">Simpan</button>
      <a href="{{ url_for('admin_produk') }}" class="btn btn-secondary">Kembali</a>
    </form>
  </div>
</div>
{% endblock %}
