<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Hasil Pencarian</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
  <h4>🔍 Hasil Pencarian untuk: <strong>{{ keyword }}</strong></h4>
  <hr>

  <div class="row">
    {% if hasil %}
      {% for produk in hasil %}
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm text-center">

          <img src="{{ url_for('static', filename=produk.gambar.replace('static/', '')) }}"
               class="card-img-top">

          <div class="card-body">
            <h6>{{ produk.nama_produk }}</h6>
            <p><strong>Rp {{ "{:,.0f}".format(produk.harga) }}</strong></p>

            <div class="d-flex gap-1 mt-1 align-items-center">

              {% for w in produk.warna_varian %}
                <span class="badge bg-secondary">{{ w.warna }}</span>
              {% endfor %}
            </div>

            <a href="{{ url_for('detail_produk', id_produk=produk.id_produk) }}"
               class="btn btn-dark btn-sm mt-2">Detail</a>
          </div>

        </div>
      </div>
      {% endfor %}
    {% else %}
      <p class="text-muted">Tidak ditemukan produk sesuai pencarian Anda.</p>
    {% endif %}
  </div>

</div>

</body>
</html>
